.ErrorPage {
  min-height: 100vh;
}

.bouncing-image {
  position: absolute;
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  animation: bounce 20s ease-in-out infinite;
  transform-origin: top left;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(0, 0) rotate(-150deg);
  }
  15% {
    transform: translate(calc(20vw), calc(10vh)) rotate(45deg);
  }
  25% {
    transform: translate(calc(30vw), calc(50vh)) rotate(-125deg);
  }
  35% {
    transform: translate(calc(35vw), calc(30vh)) rotate(-180deg);
  }
  50% {
    transform: translate(calc(50vw), 0) rotate(65deg);
  }
  65% {
    transform: translate(calc(35vw), calc(30vh)) rotate(-180deg);
  }
  75% {
    transform: translate(calc(30vw), calc(50vh)) rotate(-125deg);
  }
  85% {
    transform: translate(calc(20vw), calc(10vh - 100px)) rotate(200deg);
  }
}
