@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background: white;
}

.Button-primary {
  background-color: #3490dc; /* Background color */
  color: #fff; /* Text color */
  font-weight: 700; /* Font weight */
  padding: 0.75rem 1.5rem; /* Padding */
  border-radius: 9999px; /* Rounded corners */
  outline: none; /* Remove default focus outline */
  box-shadow:
    0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08); /* Box shadow for depth */
  transition: background-color 0.3s ease; /* Transition for smooth hover effect */

  /* Hover state */
  &:hover {
    background-color: #2779bd;
  }

  /* Active state */
  &:active {
    background-color: #1e4e96;
  }

  /* Focus state */
  &:focus {
    background-color: #1e4e96;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); /* Custom focus outline */
  }
}
